body {
	/* background-color: rgb(233, 233, 233); */
}
.sidebar {
	width: 250px;
	background-color: #333;
	color: #fff;
	padding: 20px;
}

.Fuel_Table{
	width: 800px;
	height: 200px;
	padding-left: rem;
}

.Fuel_Table th {
	border-bottom: 1px solid black;
	color:rgb(89, 170, 236);
}

.Fuel_Table td {
	text-align: center;
	border-bottom: 1px solid black;
}

.button {
	border: none;
	color:rgb(89, 170, 236);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}


.Fuel_Div{
	background-color: white;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	color: rgb(89, 170, 236);
	padding: 20px;
}

.Fuel_Div table{

	width: 100%;
}

.X_Button{
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 95%;
	text-align: center;
	border-radius: 50%;
	border: 1px solid black;
}


.Fuel_Div button{
	background-color: rgba(16, 13, 98, 0.248);
	color: rgb(89, 170, 236);
	border: 0 none;
	border-radius: 10px;
	height: 30px;
	width: 30px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.Fuel_Management{
	display: inline-block;
	position: absolute;  
	font-size: 30px;
	font-family: Arial;
	font-weight: bold;
	top: 8px;
	left: 5%;

}

.rectangle {
	display: inline-block;
	width: 300px;
	height: 20px;
	background: white ;
	border: #333;
	top: 5px;
	right: 550px;
}

.search{
	/* display: inline-block; */
	position: absolute;
	width: 300px;
	height: 20px;

	border: #333;
	top: 50px;
	right: 20px;

}

.corner{
	display: inline-block;
	position: relative;  
	font-size: 30px;
	font-family: Arial;
	font-weight: bold;
	top: 0px;
	left: 100px;

}

button {
	cursor: pointer;
}

.chart-size{
	position: relative;
	width: 90vw;
	height: 90vh;
}


.trend{
	flex: 1;
	position: absolute;
	flex-direction: column;
	padding: 2.5rem .2rem; /* Adjust padding for size */
	position:absolute;
	top: 20%;
	left: 80%;
	width: 100px;
	justify-content: space-between;
}

.trend button{
	background-color: rgba(16, 13, 98, 0.248);
	color: rgb(89, 170, 236);
	border: 0 none;
	border-radius: 10px;
	height: 2rem;
	width: 11rem;
	font-size: 1.25rem;
	font-weight: bold;
	cursor: pointer;

}

.Best_Sellers_Div{
	display: flex;
	flex: 1;
	flex-direction: column;
	background-color: white;
	width: 95.5%;
	font-size: 1.25rem;
	font-weight: bold;
	color: rgb(89, 170, 236);
	padding: 2rem 0.625rem; /* Adjust padding for size */
	padding-left: 3rem;
	line-height: 1rem;
	padding: bottom 1.25rem;
	justify-content: space-between;
}


.Review_Button{
	display: flex;
	flex: 1;
	flex-direction: row;
	margin-right: 200px;
	padding: 40px 10px; /* Adjust padding for size */
	padding-left: 7rem;
	justify-content: space-between;
}

.Review_Button button {
	background-color: white;
	color: rgb(89, 170, 236);
	border: 0 none;
	border-radius: 10px;
	height: 70px;
	width: 200px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}


.Best_Sellers{
	display: inline-block;
	position: relative;  
	font-size: 30px;
	font-family: Arial;
	font-weight: bold;
	top: 170px;
	left: 1%;

}

.btn-group{
	display:inline-block;
	position: relative;
	margin-left: 4rem;
	margin-top: 1rem;
	left: 20%;
}

.Inventory_Buttons{
	display:inline-block;
	position: relative;
	height: 200px;
	width: 100px;
	top: 25%;
	left: 35%;
}

.App-header {
	background-color: rgba(128, 128, 128, 0.5);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.Update_Fuel_Button{
	display: inline-block;
	position: relative;
	margin-left: 4rem;
	margin-top: 1rem;
}